img	/*set images to be less than that of their original height and allow them to scale to user display*/
{
	max-height: 300px;
	max-width: 90%;
    margin-left: 5%;
	padding-left: 5%;
	display: block;
}
html
{
 overflow:scroll;
}
.jumbotron
{
 background-image: url(images/products/productHead.jpg);
 overflow: initial;
 color: white;
}

.panel-body{
  width: 100%;
  height: 100%;
  overflow: contain;
}
#productHead{
	background-color:black;
}
h2:hover
{
	color: blue;
	font-style: italic;
	background-color: green;
}
#graphics
{
	margin-top: 20%;
}
#monitors
{
	margin-top: 20%;
}
#processors
{
	margin-top: 20%;
}
#harddrives
{
	margin-top: 20%;
}
#miscellaneous
{
	margin-top: 20%;
}
img:hover	/*make images opaque when user hovers over them to make page interactive*/
{
  opacity:0.5;
}
#cost
{
	
}